*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-regular;
  min-width: 320px;
}

a {
  text-decoration: none;
}

h2, h3 {
  margin: 0;
}

img {
  max-width: 100%;
}

svg,
section {
  overflow: hidden;
}



@media (min-width: 768px) {
  body {
    min-width: 768px;
  }
}

@media (min-width: 1150px) {
  body {
    min-width: 1150px;
  }
}


form {
  margin: 0;
}

button {
  border: none;
}

svg {
  overflow: hidden;
}

select::-ms-expand {
    display: none;
}

.page-wrapper {
  transition: all .3s;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

@media (min-width: 768px) {
  body {
    min-width: 768px;
  }
}

@media (min-width: 1150px) {
  body {
    min-width: 1150px;
  }
}
