.main-slider {
  height: 720px;
  background-image: linear-gradient(80.54deg, #ecf4f9 0%, #f0f5f9 56%, #f2f7fb 100%);
  overflow: hidden;
}

.slider-content {
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 81px;
}

.slider__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.slider__left {
  display: flex;
  flex-direction: column;

}

.slider__right {
  display: flex;
  justify-content: center;
  align-items: center
}

.slider__heading {
  width: 312px;
  color: #464646;
  font-family: $font-bold;
  font-size: 50px;
  text-transform: uppercase;
}

.slider__img {
  width: 590px;
  height: 590px;
}

.slider__text{
width: 417px;
margin-bottom: 54px;
color: #464646;
font-family: $font-regular;
font-size: 18px;
letter-spacing: 0.9px;
line-height: 28px;
}

.text__markup {
color: #66aae5;
font-family: $font-bold;
letter-spacing: 0.9px;
}

.slider__img--mobile {
  display: none;
}

.bx-wrapper {
  .bx-pager {
    text-align: center;
    font-size: .85em;
    font-family: Arial;
    font-weight: bold;
    color: #7dabd1;
  }

    .bx-default-pager a {
      background: #7dabd1;
      text-indent: -9999px;
      display: block;
      width: 10px;
      height: 10px;
      margin-right: 12px;
      outline: 0;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;

      &:hover {
        background: #ffffff;
      }

      &.active {
        background: #ffffff;
      }

      &:focus {
        background: #ffffff;
      }

    }

  .bx-pager-item {
    display: inline-block;
    vertical-align: bottom;
    *zoom: 1;
    *display: inline;
    font-size: 0;
    line-height: 0;
  }

  .bx-controls-direction a {
    position: absolute;
    top: 89%;
    margin-top: -16px;
    outline: 0;
    width: 10px;
    height: 17px;
    text-indent: -9999px;
    z-index: 9999;
  }

  .bx-prev {
    left: 17%;
    background-image: url('../img/arrow-left.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bx-next {
    right: 17%;
    background: url('../img/arrow-right.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }

}
