.main-slider {
  height: 720px;
  background-image: linear-gradient(80.54deg, #ecf4f9 0%, #f0f5f9 56%, #f2f7fb 100%);
  overflow: hidden;
}

.slider-content {
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 81px;
}

.slider__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.slider__left {
  display: flex;
  flex-direction: column;

}

.slider__right {
  display: flex;
  justify-content: center;
  align-items: center
}

.slider__heading {
  width: 312px;
  color: #464646;
  font-family: $font-bold;
  font-size: 50px;
  text-transform: uppercase;
}

.slider__img {
  width: 590px;
  height: 590px;
}

.slider__text{
width: 417px;
margin-bottom: 54px;
color: #464646;
font-family: $font-regular;
font-size: 18px;
letter-spacing: 0.9px;
line-height: 28px;
}

.text__markup {
color: #66aae5;
font-family: $font-bold;
letter-spacing: 0.9px;
}

.slider__img--mobile {
  display: none;
}
